<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-tag-android" role="menuitem"><a href="{{site.baseurl}}tag/android/">Android</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/distributed-system/">Distributed System</a></li>
    <li class="nav-tag-katalon" role="menuitem"><a href="{{site.baseurl}}tag/katalon-studio/">Katalon Studio</a></li>
    <li class="nav-tag-selenium" role="menuitem"><a href="{{site.baseurl}}tag/selenium/">Selenium</a></li>
    <li class="nav-tag-network" role="menuitem"><a href="{{site.baseurl}}tag/network/">Network</a></li>
    <li class="nav-tag-etc" role="menuitem"><a href="{{site.baseurl}}tag/etc/">etc</a></li>
</ul>
